body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f9ff;
}

header {
    background: linear-gradient(to right, #283593, #5c6bc0);
    color: white;
    text-align: center;
    padding: 30px;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.info {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.info h2 {
    color: #283593;
}

form {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

form h2 {
    color: #283593;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

textarea {
    height: 80px;
}

button {
    background: #283593;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #1a237e;
}

.back {
    text-align: center;
    margin-bottom: 30px;
}

.back a {
    text-decoration: none;
    color: #283593;
    font-weight: bold;
    }
