*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background: #f4f6f9;
  color: #333;
}

/* HEADER */
header{
  background: #0d6efd;
  color: white;
  padding: 15px 30px;
}

header h1{
  font-size: 26px;
  margin-bottom: 10px;
}

nav a{
  color: white;
  margin-right: 18px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover{
  text-decoration: underline;
}

/* HERO SECTION */
.hero{
  background: white;
  text-align: center;
  padding: 60px 20px;
}

.hero h2{
  font-size: 32px;
  margin-bottom: 15px;
}

.hero p{
  font-size: 18px;
  margin-bottom: 25px;
}

.hero button{
  padding: 12px 25px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* SECTION */
.section{
  padding: 40px 20px;
  text-align: center;
}

.section h2{
  margin-bottom: 20px;
}

/* FOOTER */
footer{
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  }
