body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

header {
  background: #1e90ff;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 40px;
  text-align: center;
  background: #f2f2f2;
}
