*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background: #f4f6f9;
  color: #333;
}

/* HEADER */
header{
  background: #0d6efd;
  color: white;
  padding: 15px 30px;
}

header h1{
  font-size: 26px;
  margin-bottom: 10px;
}

nav a{
  color: white;
  margin-right: 18px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover{
  text-decoration: underline;
}

/* HERO SECTION */
.hero{
  background: white;
  text-align: center;
  padding: 60px 20px;
}

.hero h2{
  font-size: 32px;
  margin-bottom: 15px;
}

.hero p{
  font-size: 18px;
  margin-bottom: 25px;
}

.hero button{
  padding: 12px 25px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* SECTION */
.section{
  padding: 40px 20px;
  text-align: center;
}

.section h2{
  margin-bottom: 20px;
}

/* FOOTER */
footer{
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  }
/* COURSES PAGE GREEN THEME */

.green-header {
  background: #00796b;
  color: white;
  padding: 15px;
}

.green-header nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.green-header nav a:hover {
  text-decoration: underline;
}

.course-section {
  padding: 40px 20px;
  background: #f2fdfb;
}

.course-section h2 {
  text-align: center;
  color: #004d40;
  margin-bottom: 30px;
}

.course-card {
  background: white;
  padding: 20px;
  margin: 15px auto;
  max-width: 500px;
  border-left: 6px solid #00796b;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.course-card h3 {
  margin-top: 0;
  color: #00796b;
}

.green-footer {
  background: #004d40;
  color: white;
  text-align: center;
  padding: 10px;
  }
